@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  color: black
}

#search {
  min-width: 300px;
  padding: 11px 9px;
}

mark {
  position: relative;
  color: black;
  background: transparent;
}

mark::before {
  content: "";
  transform: translateY(-1px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: yellow;
  padding: 2px 0.5px 1px 0.5px;
  border-radius: 5px;
}
