@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark {
    @apply bg-neutral-900 text-neutral-300
  }

  .light {
    @apply bg-neutral-50 text-neutral-900
  }
}

mark {
  position: relative;
  background: #4685f2;
  color: #ffffff;
  border-radius: 2px;
  padding: 2px;
}

mark::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%; /* Adjust the value as needed to position the pseudo-element above the text */
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  padding: 3px 8px;
  height: 100%;
  border-radius: 2px;
  /* background-color: #0d7cc6; */
}
